/* THEME OVERRIDE */

#content div { /* border: 1px solid red; */ }

body { background: #f6Faff; padding-bottom: 0; }
a { color: rgb(10, 110, 189); }
a:hover { color: rgb(10, 60, 100); }

.block-header > h2 { color: #333; }

	/* HEADER */
	#header { background: #344864; }
	#header .logo { width: 103px; height: 24px; background: url(../img/logo_eeze.svg) 0 0 no-repeat; text-indent: -9999px; margin: 6px 0 0 6px; background-size: cover; }
	
	a.user-dropdown { color: #fff; text-align: right; padding: 2px 28px 4px 4px; overflow: hidden; }
	a.user-dropdown .name { font-size: 12px; font-weight: 600; float: left; }
	a.user-dropdown .company { font-size: 10px; float: left; }
	a.user-dropdown .icon { font-size: 32px; line-height: 32px; margin: 1px 5px 0 0; float: left; }
	a.user-dropdown .caret { position: absolute; right: 8px; top: 17px; border-top: 5px dashed; border-right: 5px solid transparent; border-left: 5px solid transparent; }

	/* SIDEBAR */
	#sidebar { box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12); overflow: visible; outline: none; }
	#sidebar .sidebar-inner {  }
	#sidebar .main-menu > li.active > a { background: #ecf9ff; }
	#sidebar .main-menu > li > a:hover { background: #f7fdff; }
	
	#sidebar .main-menu > li > a { color: rgb(10, 60, 100); }
	#sidebar .main-menu > li > a i { color: #333; }

	/* BUTTONS */
	.btn-success { background: #67ba0b; }
	.btn-success:hover { background: #5ba50a;}
	
	.btn-primary { background: #0a6ebd; }
	.btn-primary:hover { background: #0b66ae; }
	
	/* FORM ELEMENTS */
	.radio .input-helper::after { background: #0a6ebd; }
	.checkbox .input-helper::after { border-bottom: 2px solid #009688; border-left: 2px solid #009688; }
	
	.dtp-container { padding-left: 0!important; }
	
	.fg-line::after,
	.fg-line.fg-toggled::after { display: none; }
	
	/* LISTVIEW */
	.listview .lv-header-alt { background: #fff; }
	.listview .lv-actions { top: 50%!important; margin-top: -15px!important; }
	
	/* PAGINATION */
	.pagination > .active > a,
	.pagination > .active > span,
	.pagination > .active > a:hover,
	.pagination > .active > span:hover,
	.pagination > .active > a:focus,
	.pagination > .active > span:focus { background: #344864; }
	
	.pagination > li > a { background: #fafafa; color: #555; }
	.pagination > li > a:hover { background: #f4f4f4; color: #333; }
	
/*  */
.template-tag { background: #f9f9f9; border: 1px solid #e3e3e3; box-shadow: inset 0px -1px 0px 0px #fff; -webkit-border-radius: 2px; border-radius: 2px; font-size: 12px; color: #999; padding: 2px 4px; }
.template-tag:hover { color: #000; background: #fff; -webkit-transition: background 100ms ease-in; -moz-transition: background 100ms ease-in; -ms-transition: background 100ms ease-in; -o-transition: background 100ms ease-in; transition: background 100ms ease-in; -webkit-transition: color 100ms ease-in; -moz-transition: color 100ms ease-in; -ms-transition: color 100ms ease-in; -o-transition: color 100ms ease-in; transition: color 100ms ease-in; }

.block-header > h2.editable { margin-left: -11px; }
.block-header > h2.editable .status {  position: relative; left: 5px; top: 22px; z-index: 4; }
.block-header .with-editable { position: static; text-align: right; margin-top: 20px; }
.block-header h2.editable { }
.block-header h2.editable span i {} 
.block-header h2.editable span { border-bottom: 1px solid #ddd; padding: 5px 7px 5px 5px; display: block; z-index: 3; padding-left: 26px; }




.block-header h2.editable span:hover { border-bottom: 1px solid #ccc; background: #eff3f8; }
.block-header h2.editable span:focus { border-bottom: 1px solid #ccc; background: #fff; }

.btn-actions { margin-left: -10px!important; }

.sticky-header { display: none; position: fixed; border-left: 1px solid #f0f0f0; background: rgba(255,255,255,1); top: 65px; right: 0; left: 0; z-index: 9; height: 55px; padding: 14px 10px 0 10px; -webkit-box-shadow: 2px 1px 3px 0 rgba(0,0,0,0.12);
box-shadow: 2px 1px 3px 0 rgba(0,0,0,0.12); }

/* TEMPLATE PREVIEW MODAL */
.temp-preview { background: #edecec; overflow: hidden; }
.temp-preview .template { width: 142px; height: 200px; margin: 30px auto 20px auto; cursor: -webkit-zoom-in; }
.temp-preview .template { background: url(../tmp/report_example.svg) 0 0 no-repeat; background-size: cover; } /* FOR PROTO */
.temp-preview .switcher { margin-top: 230px; }

.form-canvas { max-width: 795px; margin: 0 auto; padding: 15px 15px 0 15px; }

.lv-assigned-user { font-size: 16px; }

/* LISTVIEW ATTRIBUTES OVERRIDE */
ul.lv-attrs { margin: 0px!important; }
ul.lv-attrs li { background: none!important; border: none!important; padding: 2px 10px 3px 0px!important; }
ul.lv-attrs li i { width: 18px; height: 18px; font-size: 18px; line-height: 18px; vertical-align: middle; margin-top: -2px; margin-right: 3px; }


/* LISTVIEW SEARCH */
.lv-search { position: relative; }
.lv-search .form-control,
.lv-search .input-group-addon { border: 0; background: transparent; top: 10px; left: 4px; }

.lv-search input.search-field { padding-left: 30px!important; }

.lv-search .glyphicon-search { vertical-align: top; padding: 10px 10px 0; position: absolute; }
.lv-search .glyphicon-search:before { content: "\f05f"; font-family: 'Material Design Iconic Font'; font-size: 17px; vertical-align: top; line-height: 100%; }

/* NO DATA */
.no-data { text-align: center; color: #344864; padding: 40px 0; }
.no-data h3 { font-size: 24px; margin-bottom: 20px; }
.no-data h4 { font-size: 16px; margin-bottom: 20px; font-weight: normal; }
.no-data strong { font-weight: bold; }
.no-data .picto { display: inline-block; width: 128px; height: 128px; background-image: no-repeat; }
.no-data .picto.no-forms { background-image: url(../img/no_forms.svg); }
.no-data .picto.no-results { background-image: url(../img/no_search_results.svg); }
.no-data .picto.no-fields { background-image: url(../img/no_fields.svg); }
.no-data .picto.no-templates { background-image: url(../img/no_templates.svg); }
.no-data .picto.no-users { background-image: url(../img/no_users.svg); }
.no-data .picto.no-reports { background-image: url(../img/no_reports.svg); }
.no-data .picto.no-tags { background-image: url(../img/no_tags.svg); }

/* MINIDASHBOARD */
.mini-dash {}
.mini-dash .indication { width: 100%; float: left!important; display: block; border-top: 1px solid #eee; padding: 20px 30px 13px 30px; color: #4a4a4a; }
.mini-dash .indication .param { display: block; line-height: 28px; font-size: 14px; text-transform: uppercase; float: left; }
.mini-dash .indication .value { font-size: 28px; float: right; line-height: 28px; }
.mini-dash .indication .unit { font-size: 10px; text-transform: uppercase; color: #9b9b9b; }
.mini-dash .indication.exceeded,
.mini-dash .indication.exceeded .value .unit { color: #f44336!important; }
.mini-dash .explanation { margin: 0!important; padding: 30px 50px; }
.mini-dash .explanation ul { list-style: none; border-left: 2px solid #0a6ebd; margin: 0; padding: 5px 5px 5px 12px; margin: 0 0 20px 0; line-height: 25px; }
.mini-dash .explanation ul li .lbl { font-weight: 700; display: inline-block; min-width: 45px; }
.mini-dash hr { margin: 0; }
.mini-dash .explanation h3 { font-size: 18px; margin: 0; padding: 0 0 7px 0; }

/* FORM STATUS BLOCK */
.status-block { text-align: center; height: 54px; margin-bottom: 30px; }
.status-block .picto { display: inline-block; background: url(../img/picto_check.svg) center center no-repeat; background-size: cover; width: 54px; height: 54px; margin-bottom: -18px; }
.status-block .value {  font-size: 24px; padding-left: 10px; color: #3f3f3f; font-size: 18px; text-transform: uppercase; }

/* TAGS LIST */
ul.tags-list { list-style: none; margin: 0; padding: 0; }
ul.tags-list li { display: inline-block; margin: 0; padding: 0 2px 4px 0 }

/* MODAL LISTVIEW */
.modal-listview { border-top: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; height: 260px; overflow-y: scroll; padding: 0!important; }
.modal-listview .lv-body { }
.modal-listview .lv-body .lv-item { border-top: 1px solid #f0f0f0; padding: 20px 25px 0 25px; }
.modal-listview .lv-body .lv-item:first-child { border-top: none; }
.modal-listview .lv-body .lv-item ul.lv-attrs { padding: 0; }
.modal-listview .lv-body .lv-item ul.lv-attrs li {display: inline; font-size: 12px; }
.modal-listview .lv-body .lv-item:last-child { padding-bottom: 20px; }
.modal-listview .lv-body .lv-item .arrow-right { display: inline-block; width: 32px; height: 32px; background: url('../img/ico_arrow_right.svg') 0 0 no-repeat; opacity: 0.5; background-size: cover; text-indent: -9999px; }

/* MODAL FORMS */
.modal-content form { margin: 0 15px; }

/* TABLES */
.table > thead > tr > th:first-child,
.table > tbody > tr > th:first-child,
.table > tfoot > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child { padding-left: 15px; }

.table > thead > tr > th:last-child,
.table > tbody > tr > th:last-child,
.table > tfoot > tr > th:last-child,
.table > thead > tr > td:last-child,
.table > tbody > tr > td:last-child,
.table > tfoot > tr > td:last-child { padding-right: 15px; }


/* FORM FIELDS STYLING */
input[type="email"].form-control,
input[type="password"].form-control,
input[type="text"].form-control,
input[type="number"].form-control,
select.form-control,
textarea.form-control { border: 1px solid #ccc!important; background: #fafafa; margin: 0; padding-left: 7px; }

html:not(.ie9) .select::before { background-color: #fafafa; background-position: 10px calc(100% - 7px); background-image: url("../img/select.png"); border-top: 1px solid #ccc; border-right: 1px solid #ccc;
}

.form-group .form-control-feedback { right: 14px; display: none; }

.has-success input[type="password"] { border: 1px solid #4caf50!important; }
.has-error input[type="password"] { border: 1px solid #f44336!important; }
.has-error small { color: #f44336!important; }

.has-success .md-check.form-control-feedback { display: block; }
.has-error .md-close.form-control-feedback { display: block; }

input[disabled="disabled"] { color: #333!important; }

.input-group-addon .fg-line input[type="text"] { border: 1px solid red!important; }

.input-group-addon { padding: 0 6px 5px 6px!important; font-size: 14px; font-weight: 400; line-height: 1; color: #555; text-align: center; background-color: #eee; border: 1px solid #ccc; border-radius: 4px; }
.input-group-addon.txt { padding: 0 8px 8px 8px!important; }

ul.formlist { list-style: none; margin: 0 16px; padding: 0; }
ul.formlist li { display: inline; }

/* STATUS BULLETS */
i.status { display: inline-block; width: 16px; height: 16px; background: #ccc; border-radius: 50%; vertical-align: middle; margin: -3px 4px 0 0; }
i.status.active { background: #5ba50a; }
i.status.deactive { background: #f44336; }
i.status.inprogress { background: #ffc107; }

/* MINIDASHBOARD */
.dash-item { border: 1px solid #ccc; margin-bottom: 30px; padding: 15px 20px; }
.dash-item p { font-size: 18px; font-weight: 300; margin: 0; padding: 0; text-transform: uppercase; color: #5e5e5e; line-height: 25px; } 
.dash-item small { font-size: 12px; font-weight: 300;text-transform: uppercase; line-height: 25px; } 
.dash-item h2 { font-size: 48px; font-weight: 300; margin: 0; padding: 0; color: #5e5e5e; } 

/* BAR ITEM CLASS */
.bar-item { margin: 2px 5px 0 5px;}
.bar-item label { padding-top: 4px; font-size: 14px; display: inline-block; }

/* UTILITY CLASSES */
.vcenter { display: inline-block; vertical-align: middle; float: none; }
.vcenter input[type="checkbox"] { margin-top: 10px; }
.noshadow { -webkit-box-shadow: 0 0 0 0 #fff!important; box-shadow: 0 0 0 0 #fff!important; }

/* E-MAIL FORM */
.email-attachment { background: #344864; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; overflow: hidden; }
.email-attachment .icon-attach { display: block; width: 28px; height: 28px; margin: 14px; background: url(../img/ico_email_attachment.svg) 0 0 no-repeat; background-size: cover; float: left; }
.email-attachment .txt { float: left; color: #fff; margin: 18px 0 0 0; font-size: 16px; font-weight: 200; }

/* SIGNUP SCREEN */
.nopayment { text-align: center; margin-bottom: 30px; vertical-align: middle; }
.nopayment .icon.no-cc { display: inline-block; background: url(../img/ico_credit_card.svg); background-size: cover; width: 36px; height: 36px; }
.nopayment .txt { font-weight: 700; display: inline-block; vertical-align: top; margin: 9px 0 0 10px; color: #000; }

#tos { max-width: 1200px; margin: 50px auto 75px auto; font-size: 14px; line-height: 25px; }
#tos h1 {}
#tos ol.section-title { font-size: 24px; margin-top: 45px; margin-bottom: 15px; }
#tos ol.section-title li { font-weight: 700; }

#tos table { margin-bottom: 30px; }
#tos table,
#tos table tbody th,
#tos table tbody td,
#tos table thead th,
#tos table thead td { background: transparent; }

#tos table tbody tr:last-child th,
#tos table tbody tr:last-child td { border-bottom: 1px solid #f0f0f0; }

#tos table th { font-weight: 700; }
#tos table th,
#tos table td { padding: 10px 15px 10px 15px; vertical-align: top; }


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.form-canvas { padding: 15px 15px 0 15px; }
	.temp-preview .template { width: 320px; height: 450px; }
	
	.block-header .with-editable { position: absolute; margin-top: 0px; }
	.block-header h2.editable span { display: inline-block; padding-left: 26px; }
	.block-header > h2.editable .status { top: auto; margin-right: -20px; }
	
	.sticky-header { left: 0px; padding: 14px 40px 0 0; }

	.mini-dash {}
	.mini-dash .indication { width: 190px; float: left!important; border-right: 1px solid #eee; border-top: none; padding: 20px 0 15px 30px; }
	.mini-dash .indication .param { display: block; font-size: 14px; float: none; }
	.mini-dash .indication .value { font-size: 28px; float: left; }
	.mini-dash .indication .value .unit { font-size: 12px; line-height: 28px; }
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.form-canvas { padding: 30px 30px 0 30px; }
	.sticky-header { left: 0; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.form-canvas { padding: 30px 30px 0 30px; }
	.sticky-header { left: 268px; }
}




/* RESPONSIVE TEXT ALIGNMENT */
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}








